In [1]:
from sqlalchemy import create_engine
from database import database_path
engine = create_engine(database_path)
connection = engine.connect()

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
salary_data = pd.read_sql("SELECT * FROM salaries", connection)

In [11]:
salary_data.head()

   emp_no  salary   from_date     to_date
0   10001   60117  1986-06-26  1987-06-26
1   10002   65828  1996-08-03  1997-08-03
2   10003   40006  1995-12-03  1996-12-02
3   10004   40054  1986-12-01  1987-12-01
4   10005   78228  1989-09-12  1990-09-12

NameError: name 'emp_no' is not defined